# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Compiled class file
*.class
*.jar
*.MF

# Log file
*.log
*.txt

#other
.idea/
build/
gradlew
gradlew.bat
.gradle/
gradle/
*.iml

# Compiled class file
*.class
*.jar
*.MF

# Log file
*.log
*.txt

#other
.idea/
build/
gradlew
gradlew.bat
.gradle/
gradle/
*.iml